body{
    background: #e6caaf;
}

#main{
    font-family: "Bodoni MT", sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto auto auto;
    /*grid-template-areas:*/
            /*"header timeline"*/
            /*"tribute-info timeline"*/
            /*"tribute-link timeline";*/
}

#title{
    font-family: Papyrus, sans-serif;
    font-weight: bold;
}

#header{
    border: solid #faf5ff;
    grid-area: 1/2/2/3;
}

#tribute-info{
    border: solid #faf5ff;
    grid-area: 2/2/3/3;
}

#tribute-footer{
    border: solid #faf5ff;
    font-size: 20px;
    grid-area: 3/2/4/3;
}

#general-info{
    border: solid #faf5ff;
}

#education-info{
    border: solid #faf5ff;
}

#image{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}

#img-caption{
    font-size: 18px;
}

img{
    max-width: 460px;
}

ul{
    max-width: 400px;
    margin: 0 auto 0 275px;
    text-align: left;
}
li{
    margin: 10px;
}

.colorOne{
    background: #fffaf5;
}

.colorTwo{
    background: #f5ffff;
}
