#main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "timeline header"
            "timeline tribute-info"
            "timeline tribute-link";
}

#timeline{
    grid-area: timeline;
}

#header{
    grid-area: header;
}

#tribute-info{
    grid-area: tribute-info;
}

#tribute-link{
    grid-area: tribute-link;
}