

#main{
    font-family: "Bodoni MT", sans-serif;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /*grid-template-areas:*/
            /*"header timeline"*/
            /*"tribute-info timeline"*/
            /*"tribute-link timeline";*/
}

#timeline{
    grid-area: 1/2/4/3;
}

#header{
    grid-area: 1/1/2/2;
}

#tribute-info{
    grid-area: 2/1/3/2;
}

#tribute-link{
    grid-area: 3/1/4/2;
}